.Mask {
  position: absolute;
}

.Orange {
  background-color: #ffa682;
  top: -495px;
  height: 690px;
  width: 1000px;
  left: -24px;
  z-index: -1;
  transform: rotate(-30deg);
  animation: 4s infinite alternate orange-drift;
  transition: transform 0.5s linear;
  will-change: transform;
}

@keyframes orange-drift {
    0% {
      transform: rotate(-30deg) translateX(0%) translateY(0%);
    }

    100% {
      transform: rotate(-30deg) translateX(2%) translateY(2%);
    }
}

.Teal {
  background-color: #52c4c6;
  top: -40px;
  left: -640px;
  width: 1500px;
  height: 900px;
  z-index: -1;
  transform: rotate(30deg);
  animation: 4s infinite alternate teal-drift;
  transition: transform 0.5s linear;
  will-change: transform;
}

@keyframes teal-drift {
    0% {
      transform: rotate(30deg) translateX(0%) translateY(0%);
    }

    100% {
      transform: rotate(30deg) translateX(2%) translateY(2%);
    }
}

.Green {
  background-color: #91ddbc;
  top: -23px;
  left: -264px;
  width: 1500px;
  height: 1000px;
  z-index: -1;
  transform: rotate(-30deg) skew(10deg);
  animation: 4s infinite alternate green-drift;
  transition: transform 0.5s linear;
  will-change: transform;
}

@keyframes green-drift {
    0% {
      transform: rotate(-30deg) skew(10deg) translateX(0%) translateY(0%);
    }

    100% {
      transform: rotate(-30deg) skew(10deg) translateX(3%) translateY(3%);
    }
}

.Dark-Green {
  background-color: #4cc4a4;
  top: 43px;
  left: -94px;
  width: 900px;
  height: 900px;
  z-index: -1;
  transform: rotate(-30deg) skew(29deg);
  animation: 4s infinite alternate dark-green-drift;
  transition: transform 0.5s linear;
  will-change: transform;
}

@keyframes dark-green-drift {
    0% {
      transform: rotate(-30deg) skew(29deg) translateX(0%) translateY(0%);
    }

    100% {
      transform: rotate(-30deg) skew(29deg) translateX(-6%) translateY(6%);
    }
}

.Photo, .Filter {
  top: 59%;
  bottom: -10%;
  left: -40px;
  right: -40px;
  z-index: -1;
  transform: skew(0, 2deg);
}

.Photo {
  background-image: url(/img/rheezy.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 20%;
}


.Filter {
  background-color: #03c3ba;
  opacity: 0.5;
  animation: 6s infinite alternate opacity-drift;
  transition: all 0.5s linear;
  will-change: transform;
}

.Black {
  background-color: #32324a;
  opacity: 0.5;
  bottom: 0;
  left: -447px;
  width: 600px;
  height: 600px;
  z-index: -1;
  border: 1px solid #03c3ba;
  transform: rotate(90deg) skew(45deg, -50deg);
  animation: 6s infinite alternate opacity-drift;
  transition: all 0.5s linear;
  will-change: transform;
}

@keyframes opacity-drift {
    0% {
      opacity: 0.5;
    }

    100% {
      opacity: 0.8;
    }
}

.White {
  background-color: #fff;
}

@media screen and (max-width:880px) {
  .Photo {
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 20%;
  }
}

@media screen and (max-width:600px) {
  .Photo,
  .Filter {
    top: 55%;
  }
}
