.WhatAreYouDoing {
  color: #fff;
}

.WhatAreYouDoing h2 {
    font-weight: 100;
}

.WhatAreYouDoing-Content ul {
  margin: 0 -30px;
  list-style-image: url(/img/diamond.png);
  list-style-position: outside;
}

.WhatAreYouDoing-Content ul li {
  margin: 10px 0;
}
