body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

#root {
  padding: 30px;
  margin: -10px;
  overflow: hidden;
}

strong, b {
  font-weight: 300;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
}

section {
  position: relative;
  margin: 0 auto;
  max-width: 660px;
}
